extends layout

block content
  .row
    .large-12.columns
      p I could not find the page you are looking for, but instead here is a picture I took of a squirrel on Berkeley's campus:
      a.th(href='http://www.flickr.com/photos/larryxu/10663743714')
        img(src='http://farm8.staticflickr.com/7328/10663743714_02e61a3034_h.jpg')