extends layout

block content
  .row
    .large-12.columns
      .alert-box telebearsRTC is currently updated for the #{semester} course enrollment period.
      h4 So what is telebearsRTC?
      p This website provides a means for UC Berkeley students to easily access real-time course enrollment information from telebears. Most other course scheduling websites only provide daily updates to enrollment information, which can be pretty useless when it comes time to actually registering for your classes, resulting in haphazardly coming up with some sort of backup plan on the spot. With this tool, you can keep checking enrollment data throughout the day or over the course of several days and immediately see when spots open up.
      h4 Features
      ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3
        li.feature
          i.fa.fa-search
          br
          strong Course search by department or number
        li.feature
          i.fa.fa-list
          br
          strong Real-time course section listings
        li.feature
          i.fa.fa-rocket
          br
          strong Real-time enrollment data updates
        li.feature
          i.fa.fa-filter
          br
          strong Display filter for full sections
        li.feature
          i.fa.fa-mobile
          br
          strong Mobile-friendly user interface
        li.feature
          i.fa.fa-compass
          br
          strong Simple and easy site navigation