extends layout

block content
  .row
    .large-12.columns
      h4 Have complaints, feature suggestions, or bugs?
      p
        | This website was an independent project and learning experience that is far from perfect in its design or execution. Feel free to contact me at 
        a(href="mailto:larry@larryxu.com") larry@larryxu.com
        |  if you have any concerns/questions about the website or want to work with me on other interesting projects.
      p
        | I have also open-sourced the code for this website, which you may find on 
        a(href="https://github.com/larry-xu/telebearsRTC") Github
        | .