doctype html
html(class='no-js', lang='en', ng-app="enrollmentApp")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= 'telebearsRTC - ' + title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/vendor/custom.modernizr.js')
    if course
      script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js')
      script(src='/javascripts/controller.js')
  body
    header.row
      .large-9.columns
        a.logo(href='/')
          img(src='/images/telebearsRTC_logo.png')
        h3= title
        unless !breadcrumbs
          ul.breadcrumbs
            each crumb, index in breadcrumbs
              unless index == breadcrumbs.length - 1
                li
                  a(href='/'+crumb.href)= crumb.val
              else
                li.current
                  a= crumb.val
      .large-3.columns
        nav
          ul.breadcrumbs
            li
              a(href='/') Home
            li
              a(href='/about') About
            li
              a(href='/contact') Contact
        form#search-form(action='/search', method='get')
          .row.collapse
            .small-10.columns
              input#search(type='search', name='q', placeholder='Search courses: eg. \'CS 61A\'', required)
            .small-2.columns
              button.button.postfix(type='submit')
                i.fa.fa-search
    .row.main
      .large-12.columns
        hr
        block content
    footer.row
      .large-12.columns
        hr
        p
          | &copy; 2014 
          a(href='http://www.larryxu.com/') Larry Xu
          |  EECS &#39;17


    script(src='/javascripts/vendor/jquery.js')
    script(src='/javascripts/foundation.min.js')
    script(src='/javascripts/foundation/foundation.dropdown.js')
    script(src='/javascripts/vendor/typeahead.min.js')
    script(src='/javascripts/vendor/placeholder.js')
    script(src='/javascripts/vendor/fastclick.js')
    script.
      $(document).foundation();
      $(function() {
        FastClick.attach(document.body);
      });
      $('input[type="search"]').typeahead({
        name: 'courses',
        prefetch: '/api/autocomplete'
      });