extends layout

block content
  .alert-box.alert
    i.fa.fa-exclamation-triangle
    | Your search for '#{q}' did not find any results. Try searching again or search by <a href='/'>department</a>.