/* Mobile Styles */
@media only screen
  a.logo
    display: inherit
    text-align: center
    margin: 0.5em 0

  ul
    margin: 0
    font-size: 0.8em

  li.listing
    a
      display: block
      background: #e9e9e9
      margin-bottom: 0.125em
      padding: 1em
      color: #222

  h3
    margin-bottom: 0.125em

  .breadcrumbs
    background: none
    border: none
    float: left
    padding: 0

    &>*
      font-size: 0.75rem

      &:before
        content: ">"
        margin: 0 0.625em

  nav ul.breadcrumbs
    float: right
    margin-bottom: 0.5em

    li
      a
        text-transform: none

      &:before
        content: "|";

  form
    margin: 1em 0 0 0
    clear: both

  .main hr
    margin-top: 0

  .controls
    margin-bottom: 1.25rem

    a
      margin-bottom: 1rem

      i.fa
        margin-right: 0.5rem

    .f-dropdown
      width: auto
      min-width: 120px

      &:before
        left: auto
        right: 10px

      &:after
        left: auto
        right: 9px

      li
        padding: 0.5rem

    input[type='checkbox']
      margin: 0

    input[type="checkbox"]+label
      margin: 0 0 0 0.25rem

  table
    width: 100%

    .filled, tr:nth-of-type(even).filled
      background: #f3d8d9

    thead tr th, tr td
      font-size: 0.75rem

  .alert-box
    line-height: 1rem

    a
      color: #2F3E63
    i
      margin-right: 0.25em

  li.feature
    text-align: center
    padding-bottom: 2rem

    i
      font-size: 4em
      margin-bottom: 0.5rem
      color: #025d8c

  footer p
    font-size: 0.75em
    color: #666

    a
      color: #555
      text-decoration: underline

@media only screen and (min-width: 40.063em)
  body
    padding: 1.25em

  a.logo
    float: left
    margin: 0 1.25em 1em 0

  h3
    margin-bottom: 0.125em

  form
    margin: 0

  table thead tr th, table tr td
    font-size: 0.875rem

  .controls .f-dropdown
    &:before
      right: auto
      left: 10px

    &:after
      right: auto
      left: 9px

@media only screen and (min-width: 64.063em)
  li.listing a
    padding: 0.5em 1em

    &:hover
      background: #f5eb7a
  table
    tr:hover, tr:nth-of-type(even):hover
      background: #f5eb7a

    tr.headings:hover
      background: inherit