@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Regular-webfont.eot");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Bold-webfont.eot");
  font-weight: bold;
  font-style: normal;
}
@media only screen {
  body {
    font-family: 'Roboto', sans-serif;
  }
  a.logo {
    display: inherit;
    text-align: center;
    margin: 0.5em 0;
  }
  ul {
    margin: 0;
    font-size: 0.8em;
  }
  li.listing a {
    display: block;
    background: #e9e9e9;
    margin-bottom: 0.25em;
    color: #222;
    border: 1px solid #ddd;
    font-size: 0.875em;
    border-left: 3px solid #3e98c5;
  }
  li.listing a strong {
    display: block;
    padding: 0.5em 1em 0 1em;
  }
  li.listing a .name {
    padding: 0 1em 0.5em 1em;
  }
  h3 {
    margin-bottom: 0.125em;
  }
  .breadcrumbs {
    background: none;
    border: none;
    float: left;
    padding: 0;
  }
  .breadcrumbs>* {
    font-size: 0.75rem;
  }
  .breadcrumbs>*before {
    content: ">";
    margin: 0 0.625em;
  }
  nav ul.breadcrumbs {
    float: right;
    margin-bottom: 0.5em;
  }
  nav ul.breadcrumbs li a {
    text-transform: none;
  }
  nav ul.breadcrumbs libefore {
    content: "|";
  }
  form {
    margin: 1em 0 0 0;
    clear: both;
  }
  form .twitter-typeahead {
    position: inherit !important;
    display: inherit !important;
  }
  form .twitter-typeahead .tt-dropdown-menu {
    width: 100%;
    border: 1px solid #999;
    margin-top: 0.5em;
    background: #fff;
    box-shadow: 0 0 5px #999;
  }
  form .twitter-typeahead .tt-dropdown-menu .tt-suggestions {
    display: inherit !important;
  }
  form .twitter-typeahead .tt-dropdown-menu .tt-suggestions .tt-suggestion {
    padding: 0.25rem 0.5rem;
    font-size: 0;
  }
  form .twitter-typeahead .tt-dropdown-menu .tt-suggestions .tt-suggestion.tt-is-under-cursor {
    background: #0097cf;
    color: #fff;
  }
  form .twitter-typeahead .tt-dropdown-menu .tt-suggestions .tt-suggestion p {
    margin-bottom: 0;
    font-size: 0.875rem;
  }
  .main hr {
    margin-top: 0;
  }
  .controls {
    margin-bottom: 1.25rem;
  }
  .controls a {
    margin-bottom: 1rem;
  }
  .controls a i.fa {
    margin-right: 0.5rem;
  }
  .controls .f-dropdown {
    width: auto;
    min-width: 120px;
  }
  .controls .f-dropdownbefore {
    left: auto;
    right: 10px;
  }
  .controls .f-dropdownafter {
    left: auto;
    right: 9px;
  }
  .controls .f-dropdown li {
    padding: 0.5rem;
  }
  .controls input[type='checkbox'] {
    margin: 0;
  }
  .controls input[type="checkbox"]+label {
    margin: 0 0 0 0.25rem;
  }
  table {
    width: 100%;
  }
  table .filled,
  table trnth-of-type(even).filled {
    background: #f3d8d9;
  }
  table thead tr th,
  table tr td {
    font-size: 0.75rem;
  }
  .alert-box {
    line-height: 1rem;
  }
  .alert-box a {
    color: #2f3e63;
  }
  .alert-box i {
    margin-right: 0.25em;
  }
  li.feature {
    text-align: center;
    padding-bottom: 2rem;
  }
  li.feature i {
    font-size: 4em;
    margin-bottom: 0.5rem;
    color: #025d8c;
  }
  footer p {
    font-size: 0.75em;
    color: #666;
  }
  footer p a {
    color: #555;
    text-decoration: underline;
  }
}
@media only screen and (min-width: 40.063em) {
  body {
    padding: 1.25em;
  }
  a.logo {
    float: left;
    margin: 0 1.25em 1em 0;
  }
  h3 {
    margin-bottom: 0.125em;
  }
  form {
    margin: 0;
  }
  li.listing a {
    border: 1px solid #ddd;
    font-size: 1em;
  }
  li.listing a strong {
    background: #3e98c5;
    color: #fff;
    padding: 0.5em 1em;
    float: left;
    margin-right: 1em;
    width: 8em;
    text-align: center;
  }
  li.listing a strong.larger {
    width: 11em;
  }
  li.listing a .name {
    padding: 0.5em 1em;
  }
  table thead tr th,
  table tr td {
    font-size: 0.875rem;
  }
  .controls .f-dropdownbefore {
    right: auto;
    left: 10px;
  }
  .controls .f-dropdownafter {
    right: auto;
    left: 9px;
  }
}
@media only screen and (min-width: 64.063em) {
  li.listing ahover {
    background: #f5eb7a;
  }
  table trhover,
  table trnth-of-type(even)hover {
    background: #f5eb7a;
  }
  table tr.headingshover {
    background: inherit;
  }
}
